[project]
	description = Common Android Kernel Tree
[receive]
	requireSignedOffBy = true
[submit]
	action = rebase if necessary
[access]
	inheritFrom = Kernel-Projects
[access "refs/heads/*"]
	owner = group kernel-owners
	push = +force group kernel-pushers
	create = group kernel-owners
	label-Code-Review = -2..+2 group kernel-approvers
	label-Code-Review = -2..+1 group kernel-committers
	label-Verified = -1..+1 group kernel-approvers
	label-Verified = -1..+1 group kernel-committers
	submit = group kernel-approvers
	submit = group kernel-committers
	label-Presubmit-Ready = +0..+1 group kernel-approvers
	label-Presubmit-Ready = +0..+1 group kernel-committers
	rebase = group kernel-approvers
	rebase = group kernel-committers
	exclusiveGroupPermissions = push
[access "refs/tags/*"]
	delete = group kernel-pushers
[access "^refs/tags/android[0-9]+-[0-9]+.[0-9]+-20[0-9][0-9]-(0[1-9]|1[0-2])_r[1-9][0-9]*"]
	createTag = group mdb/gki-release-gerrit-operator
[access "refs/tag/experimental/*"]
	create = group kernel-amt-approvers
	push = group kernel-amt-approvers
[access "refs/heads/experimental/eas-dev"]
	forgeAuthor = group kernel-amt-approvers
	forgeCommitter = group kernel-amt-approvers
	label-Code-Review = -2..+2 group kernel-amt-approvers
	push = +force group kernel-amt-approvers
	pushMerge = group kernel-amt-approvers
[access "refs/heads/android-mainline-tracking"]
	forgeAuthor = group kernel-amt-approvers
	forgeCommitter = group kernel-amt-approvers
[access "refs/heads/android-3.18"]
	forgeAuthor = group kernel-amt-approvers
	forgeCommitter = group kernel-amt-approvers
[access "refs/for/refs/heads/android-4.19"]
	exclusiveGroupPermissions = push pushMerge
	push = group kernel-owners
	pushMerge = group kernel-owners
[access "refs/heads/android-5.4"]
	exclusiveGroupPermissions = submit
	submit = group kernel-admin
[access "refs/for/refs/heads/android-5.4"]
	exclusiveGroupPermissions = push pushMerge
	push = group kernel-admin
	pushMerge = group kernel-admin
[access "refs/heads/android-5.4-stable"]
	exclusiveGroupPermissions = submit
	submit = group kernel-admin
[access "refs/for/refs/heads/android-5.4-stable"]
	exclusiveGroupPermissions = push pushMerge
	push = group kernel-admin
	pushMerge = group kernel-admin
[access "refs/heads/android11-5.4"]
[access "refs/heads/mirror-pa-android12-5.10-staging"]
	exclusiveGroupPermissions = read
	read = group kernel-approvers
	read = group mdb/android-host-project-readers
	create = group kernel-approvers
	delete = group kernel-approvers
	forgeAuthor = group kernel-approvers
	forgeCommitter = group kernel-approvers
	forgeServerAsCommitter = group kernel-approvers
	push = +force group kernel-approvers
[access "^refs/heads/android-mainline-rust"]
	label-Code-Review = -2..+2 group Android Maintainers
	owner = group Android Maintainers
	label-Global-Approval = +0..+1 group Android Maintainers
	submit = group Android Maintainers
[access "^refs/heads/android.*-trusty-.*"]
	label-Code-Review = -2..+2 group trusty-approvers
	owner = group trusty-approvers
	label-Global-Approval = +0..+1 group trusty-approvers
	submit = group trusty-approvers
[access "^refs/heads/android.*-kiwi-.*"]
	label-Code-Review = -2..+2 group google/battlestar-eng@google.com
	label-Global-Approval = +0..+1 group google/battlestar-eng@google.com
	owner = group google/battlestar-eng@google.com
	submit = group google/battlestar-eng@google.com
[access "refs/heads/arcvm12-5.10"]
	label-Code-Review = -2..+2 group ARCVM Approvers
[access "refs/heads/android13-5.15-arcvm"]
	label-Code-Review = -2..+2 group ARCVM Approvers
[access "^refs/heads/deprecated/android[0-9]+-[0-9]+.[0-9]+-20[0-9][0-9]-(0[1-9]|1[0-2])(-.*)?"]
	create = group mdb/gki-release-gerrit-operator
	label-Autosubmit = +0..+1 group mdb/gki-release-gerrit-operator
	label-Bypass-Presubmit = +0..+2 group mdb/gki-release-gerrit-operator
	label-Presubmit-Ready = -1..+1 group mdb/gki-release-gerrit-operator
[access "refs/heads/arcvm12-5.10-gki-base"]
	label-Code-Review = -2..+2 group ARCVM Approvers
[access "refs/heads/arcvm13-5.15-gki-base"]
	label-Code-Review = -2..+2 group ARCVM Approvers
[access "refs/heads/android14-6.1-pkvm-experimental"]
	label-Code-Review = -2..+2 group mdb/android-kvm-team
[access "^refs/heads/android[0-9]+-[0-9]+.[0-9]+-20[0-9][0-9]-(0[1-9]|1[0-2])(-.*)?"]
	label-Code-Review = -2..+2 group gki-release-approvers
	create = group mdb/gki-release-gerrit-operator
	delete = group mdb/gki-release-gerrit-operator
[access "^refs/heads/android1.*-.*-sp$"]
	create = group mdb/android-kernel-release
	label-Code-Review = -2..+2 group mdb/android-kernel-release
[access "refs/for/refs/heads/android15-6.1"]
	push = group kernel-pushers
	pushMerge = group kernel-pushers
	exclusiveGroupPermissions = push pushMerge
[access "^refs/heads/android.*-desktop"]
	label-Code-Review = -2..+2 group mdb/al-kernel-eng
	label-Lint = -2..+2 group mdb/al-kernel-eng
[notify "team-android-kernel"]
	header = cc
	email = android-kernel-team+aosp-reviews@google.com
	type = new_changes
[plugin "uploadvalidator"]
	rejectWindowsLineEndings = true
