[project]
	description = Common Android Kernel Tree
[receive]
	requireSignedOffBy = true
[submit]
	action = fast forward only
[access]
	inheritFrom = Kernel-Projects
[access "refs/heads/*"]
	owner = group kernel-owners
	push = +force group kernel-pushers
	create = group kernel-owners
	label-Code-Review = -2..+2 group kernel-approvers
	label-Code-Review = -2..+1 group kernel-committers
	label-Verified = -1..+1 group kernel-approvers
	label-Verified = -1..+1 group kernel-committers
	submit = group kernel-approvers
	submit = group kernel-committers
	label-Presubmit-Ready = +0..+1 group kernel-approvers
	label-Presubmit-Ready = +0..+1 group kernel-committers
	rebase = group kernel-approvers
	rebase = group kernel-committers
	exclusiveGroupPermissions = push
[access "refs/tags/*"]
	delete = group kernel-admin
[access "refs/heads/android-4.4-eas-test"]
	label-Code-Review = -2..+2 group kernel-eas-approvers
[access "refs/heads/android-4.9-eas-dev"]
	label-Code-Review = -2..+2 group kernel-eas-approvers
[access "refs/heads/experimental/android-4.14-eas-integration"]
	label-Code-Review = -2..+2 group kernel-eas-approvers
[access "refs/tag/experimental/*"]
	create = group kernel-amt-approvers
	push = group kernel-amt-approvers
[access "refs/heads/experimental/eas-dev"]
	forgeAuthor = group kernel-amt-approvers
	forgeCommitter = group kernel-amt-approvers
	label-Code-Review = -2..+2 group kernel-amt-approvers
	push = +force group kernel-amt-approvers
	pushMerge = group kernel-amt-approvers
[access "refs/heads/android-mainline-tracking"]
	forgeAuthor = group kernel-amt-approvers
	forgeCommitter = group kernel-amt-approvers
[access "refs/heads/cuttlefish-4.14"]
	label-Code-Review = -2..+2 group mdb/cloud-android-devs
	submit = group mdb/cloud-android-devs
[access "refs/heads/cuttlefish-4.4"]
	label-Code-Review = -2..+2 group mdb/cloud-android-devs
	submit = group mdb/cloud-android-devs
[access "refs/heads/android-3.18"]
	forgeAuthor = group kernel-amt-approvers
	forgeCommitter = group kernel-amt-approvers
[notify "team-android-kernel"]
	header = cc
	email = android-kernel-team+aosp-reviews@google.com
	type = new_changes
