config INCREMENTAL_FS
	tristate "Incremental file system support"
	depends on BLOCK
	select DECOMPRESS_LZ4
	select CRC32
	select CRYPTO
	select CRYPTO_RSA
	select CRYPTO_SHA256
	select X509_CERTIFICATE_PARSER
	select ASYMMETRIC_KEY_TYPE
	select ASYMMETRIC_PUBLIC_KEY_SUBTYPE
	help
	  Incremental FS is a read-only virtual file system that facilitates execution
	  of programs while their binaries are still being lazily downloaded over the
	  network, USB or pigeon post.

	  To compile this file system support as a module, choose M here: the
	  module will be called incrementalfs.

config INCFS_STATS
	bool "Gather statistical information on incremental file system"
	depends on INCREMENTAL_FS
	help
	  This option causes statistical information to be gathered and
	  exported through file:

		/proc/fs/incfs/stats

	  The gathering of statistics may add certain amount of overhead to
	  execution due to use of atomic instructions and on a
	  multi-CPU system these may be on cachelines that keep bouncing
	  between CPUs.  On the other hand, the stats are very useful for
	  debugging purposes.  Saying 'y' here is recommended.
