# Defconfig fragment for Android Kunit targets
#
# Instead of setting CONFIG_KUNIT_ALL_TESTS=m, we enable individual tests
# because:
# - The defconfig fragment is applied after make defconfig
# - If additional tests are added to CONFIG_KUNIT_ALL_TESTS in the future,
#   //common:kunit_* module_outs needs to be updated.
#

# CONFIG_MODULE_SIG_ALL is not set

# Sync with BUILD.bazel, _KUNIT_MODULES
CONFIG_KUNIT_TEST=m
CONFIG_KUNIT_EXAMPLE_TEST=m

# These does not generate any output; why?
# CONFIG_NET_HANDSHAKE_KUNIT_TEST=m

# These breaks the build. Why?
# CONFIG_DRM_KUNIT_TEST=m
# CONFIG_KASAN_KUNIT_TEST=m

# TODO(b/296116800): These are booleans, not tristates. Do we want to enable them?
# CONFIG_BINFMT_ELF_KUNIT_TEST=y
# CONFIG_PM_QOS_KUNIT_TEST=y
# CONFIG_DRIVER_PE_KUNIT_TEST=y
